/*need to set the body to this base value in order for banner to correctly reach screen edge,
and it's not like this by default because... reasons???*/
* {
    margin: 0%;
    padding: 0%;
    cursor: url(images/UI/Starfy1.png), auto;
    scrollbar-width: thin;
    scrollbar-color: #207580 #B5F5EC;
}


body {
    background-image: url(images/Backgrounds/paint-space-bkg.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a {
    cursor: url(images/UI/Starfy2.png), pointer;
}

h1 {
    font-family: "Audiowide", sans-serif;
    color: #114978;
    font-size: 32px;
}
h2 {
    font-family: "Audiowide", sans-serif;
    color: #207580;
}
h3 {
    font-family: "Audiowide", sans-serif;
}
h4 {
    font-family: "Audiowide", sans-serif;
}
h5 {
    color: #795c99;
}

h1:before, h1:after {
    content: " ✧ ";
}
h3:before, h3:after {
    font-size: 11px;
    content: " 🟄 ";
}

ul {
    list-style-image: url(images/pixel-swirlie-light.png);
    list-style-type:square;
}


button {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: none;
    border: none;
    color: #3d0f6b;
    cursor: url(images/UI/Starfy2.png), pointer;
}

button:hover{
    color:aquamarine
}


.header-footer-info {
    max-width: 100%;
    padding: 0.7%;
    margin: 0%;
    margin-top: 2%;
    background-color: #114978;
}


 .header-footer-info a:link {
    color: lightblue;
}


.header-footer-info a:hover {
    color: lavender;
}

.header-footer-info a:active {
    color: lavenderblush;
}

.overarching-background {
    /* From https://css.glass */
    background: rgba(181, 245, 236, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(181, 245, 236, 0.32);
    margin: 0% 1%;
    
    /*#B5F5EC*/ /* border: 10px solid transparent; border-image: url(images/crystal-stone-illustration-png.png) 200px round; border-image-width:10px;*/
}

    .overarching-background-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0%;
        padding: 70px 1.5% 5% 1.5%;
        margin: 0%;
    }

    .crystal-border-div {
        margin: 0 10%;
        border-image-source: url(images/crystal-border-doublesize.png);
        border-image-slice: 0 27 0 27;
        border-image-width: 0px 20px 0px 20px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: round round;
    }


.homepage-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.basic-info-box {
    background-image: url(images/Backgrounds/lightblue-splotches.png);
    border-style: solid;
    border-color: #207580;
    border-radius: 10px;
    padding: 10px;
    margin: 0% 0.7% 7px;
    font-family: "Tomorrow", "Jockey One", "Kdam Thmor Pro", "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
}
    .basic-info-box h4 {
        color: #4e316e;
    }

    .basic-info-box a:link {
        color: #3198b0;
    }


    .basic-info-box a:hover {
        color: #9860d6;
    }

    .basic-info-box a:active {
        color: #cc9eff;
    }

    .tablike-header-for-info-box {
        max-width: 70%;
        padding: 1%;
        text-align: center;
        font-size: 15px;
        color: aliceblue;
        background-color: #207580;
        margin-top: -38px;
        margin-bottom: 10px;
        border-radius: 15px 15px 0 0;
    }

.navigational-info-box {
    background-image: url(images/Backgrounds/scanlines-dark.png);
    background-size: 200px;
    border-style: solid;
    border-color: #114978;
    border-radius: 10px;
    padding: 10px;
    margin: 0% 0.7% 7px;
    font-family: "Tomorrow", "Jockey One", "Kdam Thmor Pro", "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

    .header-for-nav-box {
        max-width: 75%;
        padding: 1%;
        text-align: center;
        color: aliceblue;
        background-color: #114978;
        margin-top: -38px;
        margin-bottom: 10px;
        border-radius: 15px 15px 0 0;
    }

#central-info-box{

}



/*homepage specific items*/

.current-games-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap:wrap;
}

    .current-games-inner-box img{
        max-width:27%;
        border-radius:10px;
        border:2.5px dashed navy;
    }


/*centering for the div and its copy so they're displayed the same. */
.blinkies-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

    .blinkies-inner-box img {
        max-width: 100%;
    }

    .blinkies-inner-box div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom:5.5px; /*gap between original and copy*/
        gap: 5px;
        transform: translateY(100%);
        animation: marquee-scroll 24s linear infinite;
        animation-delay: -12s;
    }
        /* copy of our div full of blinkie images. appended under the original so they can use the same animation timer*/
        .blinkies-inner-box div.follower {
            position: absolute;
            top: 0;
            animation-delay: -2.2s; /*stupid fix for a gap appearing between the og and copy ;-;*/
        }
        .blinkies-inner-box div.play {
            animation-play-state: running;
        }

        @keyframes marquee-scroll {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(-100%);
            }
        }


.critter-stationary {
    cursor: url(images/UI/Starfy2.png), pointer;
}

.critter-bounce{
    position:relative;
    animation: bouncey 0.4s cubic-bezier(0.42, 0, 0.58, 1); /*supposedly the inverse of ease-in-out, i feel like it makes a difference*/
}

@keyframes bouncey{
    0%{
        top:0px;
    }

    25% {
        top: -35px;
    }

    50% {
        top:0px;
    }

    75%{
        top:-10px;
    }

    100% {
        top:0px;
    }
}


.stamps-sector {
    margin-bottom: 3%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(32, 117, 128, 0.5)
}

.stamps-sector img{
    padding:2px;
}









.construction-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    background-image: url(images/Backgrounds/constructionbkg.jpg);
    background-size: contain;
}

.basic-ahh-centered-div {
    text-align: center;
    padding: 20px 20px;
    margin: 20px 5px;
}