/*need to set the body to this base value in order for banner to correctly reach screen edge,
and it's not like this by default because... reasons???*/
* {
    margin: 0%;
    padding: 0%;
    cursor: url(images/UI/Starfy1.png), auto;
    scrollbar-width: thin;
    scrollbar-color: #207580 #B5F5EC;
}

.tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(images/paint-space-bkg.png);
    background-size: contain;
    background-attachment: fixed;
    background-size: 100% 100%;
}

a {
    cursor: url(images/UI/Starfy2.png), pointer;
}

h1
{
    font-family:"Audiowide", sans-serif;
}
h2 {
    font-family: "Audiowide", sans-serif;
}
h3 {
    font-family: "Audiowide", sans-serif;
}
h4 {
    font-family: "Audiowide", sans-serif;
}


button {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: none;
    border: none;
    color: #3d0f6b;
    cursor: url(images/UI/Starfy2.png), pointer;
}

button:hover{
    color:aquamarine
}

.construction-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    background-image: url(images/constructionbkg.jpg);
    background-size: contain;
}

.basic-ahh-centered-div {
    text-align: center;
    padding: 20px 20px;
    margin: 20px 5px;
}

.header-footer-info {
    max-width: 100%;
    padding: 0.7%;
    margin: 0%;
    margin-top: 2%;
    background-color: #114978;
}


 .header-footer-info a:link {
    color: lightblue;
}


.header-footer-info a:hover {
    color: lavender;
}

.header-footer-info a:active {
    color: lavenderblush;
}

.overarching-background {
    /* From https://css.glass */
    background: rgba(181, 245, 236, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(181, 245, 236, 0.32);
    margin: 0% 10%;
     /*#B5F5EC*/ /* border: 10px solid transparent; border-image: url(images/crystal-stone-illustration-png.png) 200px round; border-image-width:10px;*/
}

.overarching-background-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0%;
    padding: 70px 1.5% 5% 1.5%;
    margin: 0%;
}


.homepage-info-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tablike-header-for-info-box {
    width: 60%;
    padding: 1%;
    text-align: center;
    color: aliceblue;
    background-color: #207580;
    margin-top: -38px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
}

.header-for-nav-box {
    width: 60%;
    padding: 1%;
    text-align: center;
    color: aliceblue;
    background-color: #114978;
    margin-top: -38px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
}

.basic-info-box {
    background-image: url(images/blue-polka-dot.png);
    border-style: solid;
    border-color: #207580;
    border-radius: 10px;
    padding: 10px;
    margin: 0% 0.7% 7px;
    font-family: "Tomorrow", "Jockey One", "Kdam Thmor Pro", "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navigational-info-box {
    background-image: url(images/scanlines-dark.png);
    background-size: 200px;
    border-style: solid;
    border-color: #114978;
    border-radius: 10px;
    padding: 10px;
    margin: 0% 0.7% 7px;
    font-family: "Tomorrow", "Jockey One", "Kdam Thmor Pro", "Passion One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#central-info-box{

}

.current-games-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap:wrap;
}

.current-games-inner-box img{
    max-width:27%;
    border-radius:10px;
    border:2.5px dashed navy;
}


/*centering for the div and its copy so they're displayed the same. */
.blinkies-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

    .blinkies-inner-box img {
        max-width: 100%;
    }

    .blinkies-inner-box div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom:5.5px; /*gap between original and copy*/
        gap: 5px;
        transform: translateY(100%);
        animation: marquee-scroll 24s linear infinite;
        animation-delay: -12s;
    }
        /* copy of our div full of blinkie images. appended under the original so they can use the same animation timer*/
        .blinkies-inner-box div.follower {
            position: absolute;
            top: 0;
            animation-delay: -2.2s; /*stupid fix for a gap appearing between the og and copy ;-;*/
        }
        .blinkies-inner-box div.play {
            animation-play-state: running;
        }

@keyframes marquee-scroll {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}
